@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    
    transition: all .2s linear;
    line-height: 1.5;
}
:root{
    --main-color:#356292;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a{
    cursor: none;
}
body{
    background: #deddd9;
    padding-left: 30rem;
}
section{
    display: flex;
    padding:2rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 1200px;
}
.heading{
    color:#111;
    font-size: 4rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}
.btn{
    color:#fff;
    font-size: 1.7rem;
    background:var(--main-color);
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
}
.btn:hover{
    background:#111;
    letter-spacing: .2rem;
}
header{
    display: flex;
    position: fixed;
    background:#222;
    top:0; 
    left:0; 
    bottom:0;
    padding:8rem 2rem;
    width:30rem;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    text-align: center;
}
header .logo{
    color:#fff;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
}
header .logo span{
    text-transform: uppercase;
    color:var(--main-color);
}
header .navbar a{
    color:#fff;
    font-size: 2rem;
    display: block;
    margin:2rem 0;
}
header .navbar a:hover{
    letter-spacing: .2rem;
    color:var(--main-color);
}
header .follow a{
    color:#fff;
    font-size: 2.5rem;
    margin:0 1rem;
}
header .follow a:hover{
    color:var(--main-color);
}
#menu-bars{
    display: none;
    background:var(--main-color);
    color:#fff;
    font-size: 3rem;
    position: fixed;
    top:2rem; right: 2rem;
    z-index: 10000;
    border-radius: .5rem;
    padding:1rem 1.5rem;
}
.cursor-1{
    background: var(--main-color);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    top:0; 
    left:0;
    height:1rem; 
    width:1rem;
    pointer-events: none;
}
.cursor-1.active{
    height:7rem;
    width:7rem;
    opacity: .3;
}
.cursor-2{
    border:.1rem solid var(--main-color);
    position: absolute;
    top:0; 
    left:0;
    height:4rem; 
    width:4rem;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}
.cursor-2.active{
    display: none;
}
.home{
    flex-wrap: wrap;
    gap:1.5rem;
}
.home .image{
    flex:2 1 30rem;
}
.home .image img{
    width:100%;
}
.home .content{
    flex:3 1 40rem;
}
.home .content .hi{
    font-size: 2rem;
    color:var(--main-color);
}
.home .content h3{
    color:#111;
    font-size: 4.5rem;
    text-transform: uppercase;
}
.home .content h3 span{
    color:var(--main-color);
    text-transform: uppercase;
}
.home .content .info{
    color:#111;
    font-size: 2.5rem;
    padding:.5rem 0;
}
.home .content .text{
    color:#666;
    padding:.5rem 0;
    font-size: 1.7rem;
    line-height: 2;
}
.spaceheading{
    width: 100%;
    height: 50px;
}
.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    padding-bottom: 2rem;
}
.about .row-1 .image{
    flex:1 1 25rem;
}
.about .row-1 .image img{
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
}
.about .row-1 .content{
    flex:1 1 50rem;
}
.about .row-1 .content h3{
    color:#333;
    font-size: 3.5rem;
}
.about .row-1 .content p{
    color:#666;
    line-height: 1.8;
    font-size: 1.7rem;
    padding:.5rem 0;
}
.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    padding: 0.5rem 0;
}
.about .row-1 .content .box-container .box{
    flex:1 1 20rem;
}
.about .row-1 .content .box-container .box span{
    color:var(--main-color);
}
.space{
    width: 100%;
    height: 30px;
}
.about .row-2{
    display: flex;
    gap:2.5rem;
    flex-wrap: wrap;
    align-items: center;
}
.about .row-2 .skills{
    flex:1 1 40rem;
}
.about .row-2 .skills .progress{
    padding:1rem 0;
}
.about .row-2 .skills .progress h3{
    color:#111;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
}
.about .row-2 .skills .progress .bar{
    background:#ccc;
    width:100%;
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}
.about .row-2 .skills .progress .bar span{
    display:block;
    background:var(--main-color);
    height:100%;
    border-radius: 50rem;
}
.about .row-2 .skills .progress:nth-child(1) .bar span{
    width:95%;
}
.about .row-2 .skills .progress:nth-child(2) .bar span{
    width:90%;
}
.about .row-2 .skills .progress:nth-child(3) .bar span{
    width:90%;
}
.about .row-2 .box-container{
    flex:1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.about .row-2 .box-container .box{
    flex:1 1 20rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:2rem;
}
.about .heading{
    padding-top: 3rem;
}
.about .row-2 .box-container .box h3{
    color:var(--main-color);
    font-size: 2rem;
}
.about .row-2 .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
}
.uni .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.uni .box-container .box{
    background:#fff;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    flex:1 1 30rem;
    text-align: center;
    padding:3rem 2rem;
}
.uni .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color:#fff;
    background:var(--main-color);
    border-radius: 50%;
}
.uni .box-container .box h3{
    color:#444;
    font-size: 2.2rem;
    padding-top: 1rem;
}
.uni .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
    line-height: 1.8;
}
.experience .box-container{
    display: flex;
    flex-wrap: wrap;
}
.experience .box-container .box{
    border-left: .2rem solid var(--main-color);
    position: relative;
    display: flex;
    flex:1 1 33rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;   
}
.experience .box-container .box::before{
    background:var(--main-color);
    content: '';
    position: absolute;
    top:0; left:-1rem;
    height:2rem;
    width:2rem;
    border-radius: 50%;
}
.experience .box-container .box .content{
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:1.5rem;
    border-radius: .5rem;
}
.experience .box-container .box .content span{
    color:#fff;
    background:var(--main-color);
    font-size: 1.7rem;
    border-radius: 50rem;
    padding:.4rem 1rem;
}
.experience .box-container .box .content h3{
    font-size: 2.5rem;
    padding:.5rem 0;
    color:#111;
}
.experience .box-container .box .content p{
    color:#666;
    font-size: 1.7rem;
    line-height: 1.8;
}
.contact .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.contact .box-container .box{
    background:#fff;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    flex:1 1 30rem;
    text-align: center;
    padding:3rem 2rem;
}
.contact .box-container .box i{
    height:6rem;
    width:6rem;
    color:#fff;
    background:var(--main-color);
    line-height: 6rem;
    font-size: 2.5rem;
    border-radius: 50%;
}
.contact .box-container .box h3{
    color:#444;
    font-size: 2.2rem;
    padding-top: 1rem;
}
.contact .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
    line-height: 1.8;
}
.footer{
    margin-top: 2rem;
    font-size: 2rem;
    padding:2.5rem;
    text-align: center;
    color:#666;
    background: #fff;
}
.footer span{
    color:var(--main-color);
}
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    body{
        padding: 0;
    }
    #menu-bars{
        display: initial;
    }
    header{
        left:-120%;
    }
    header.active{
        left:0%;
    }
    .cursor-1,
    .cursor-2{
        display: none;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    header{
        width:100%;
    }
    .experience .box-container .box{
        padding-right: 0;
    }
}